
*
{
	box-sizing: border-box;
}

html
{
	font-family: sans-serif;
}

body
{
	color: #000000;
	line-height: 1.5;
	margin: 0;
}

h1
{
	font-size: 2em;
	margin-bottom: 0.375em;
	margin-top: 0.375em;
}

h2
{
	font-size: 1.75em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h3
{
	font-size: 1.5em;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}

h4
{
	font-size: 1.25em;
	margin-bottom: 1em;
	margin-top: 1em;
}

h5
{
	font-size: 1em;
	margin-bottom: 1.25em;
	margin-top: 1.25em;
}

h6
{
	font-size: 0.75em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

p
{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.content
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
	max-width: 1180px;
}

.grid
{
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.cell
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	float: left;
}

@media (min-width: 480px)
{
	.sm-w-1
	{
		width: 8.33333333%;
	}

	.sm-w-2
	{
		width: 16.66666667%;
	}

	.sm-w-3
	{
		width: 25%;
	}

	.sm-w-4
	{
		width: 33.33333333%;
	}

	.sm-w-5
	{
		width: 41.66666667%;
	}

	.sm-w-6
	{
		width: 50%;
	}

	.sm-w-7
	{
		width: 58.33333333%;
	}

	.sm-w-8
	{
		width: 66.66666667%;
	}

	.sm-w-9
	{
		width: 75%;
	}

	.sm-w-10
	{
		width: 83.33333333%;
	}

	.sm-w-11
	{
		width: 91.66666667%;
	}

	.sm-w-12
	{
		width: 100%;
	}
}

.flow-root
{
	display: flow-root;
}

input
{
	border-color: #d4d5dc;
	border-style: solid;
	border-width: 1px;
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
}

select
{
	background: #ffffff;
	border-color: #d4d5dc;
	border-style: solid;
	border-width: 1px;
	font-family: inherit;
	line-height: inherit;
	font-size: inherit;
	padding-bottom: 0.475em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 0.475em;
}

input:focus
{
	outline: none;
}

input[type="text"], 
input[type="email"], 
input[type="date"], 
input[type="number"]
{
	background: #ffffff;
	padding-bottom: 0.375em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 0.375em;
}

input[type="button"], 
input[type="reset"], 
input[type="submit"]
{
	color: #000000;
	cursor: pointer;
	background: #cecece;
	padding-bottom: 0.375em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 0.375em;
}

.input-label
{
	display: inline-block;
	padding-bottom: 0.5em;
}

.input-text
{
	display: block;
	width: 100%;
}

form
{
	display: block;
	margin-top: 0;
}

.m-b-1
{
	margin-bottom: 0.5em;
}

.m-b-2
{
	margin-bottom: 1em;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border-color: #ced4da;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0;
	text-align: left;
}

thead th
{
	border-color: #ced4da;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 0.375em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 0.375em;
}

tbody td
{
	border-color: #ced4da;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 0.375em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 0.375em;
}

.flex
{
	
	display: flex;
}

.nav
{
	display: flow-root;
}

.nav.nav-black
{
	background: #000000;
}

.nav .nav-list
{
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
	display: flex;
	justify-content: flex-start;
}
.nav .nav-item
{
	display: flex;
}

.nav .nav-link
{
	color: #ffffff;
	padding: 0.75em;
	text-decoration: none;
}

.button
{
	color: #000000;
	cursor: pointer;
	background: #cecece;
	padding-bottom: 0.375em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: 0.375em;
}

.text-danger
{
	color: red;
}

.m-l-auto
{
	margin-left: auto;
}

.inline
{
	display: inline;
	width: auto;
}
